<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVmvZ52rnY4Ysmbr6GWfw1YeWhgrtokUo</string>
	<key>GCM_SENDER_ID</key>
	<string>576873708867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whispr</string>
	<key>PROJECT_ID</key>
	<string>whispr-c0782</string>
	<key>STORAGE_BUCKET</key>
	<string>whispr-c0782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576873708867:ios:42bcd20be4ce55733283f6</string>
</dict>
</plist>